
<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username"></label>
    <input type="text" id="username" name="_username" placeholder="Pseudo" value="{{ last_username }}" required="required" />
	</br>
    <label for="password"></label>
    <input type="password" id="password" name="_password" placeholder="Mot de passe" required="required" />
	
   
    <div style="color:white;"><input type="checkbox" id="remember_me" name="_remember_me" value="on" title="Rester connecté" />Rester connecté</div>
    <label for="remember_me"></label>
     <input type="submit" id="_submit" name="_submit" value="Go !!!" />
</form>

