{# src/MDQ/AdminBundle/Resources/views/admin/newsListForm.html.twig #}


<div >
  <form  method="post" class="formQ" {{ form_enctype(form) }}>

{# Les erreurs générales du formulaire. #}
{{ form_errors(form) }}


{# Génération des champs pas encore écrits.
   
   mais aussi le champ CSRF (géré automatiquement par Symfony !)
   et tous les champs cachés (type « hidden »). #}
{{ form_rest(form) }}
<input type="submit" class="btnvalid"/>
</form>
</div>

